/* import fonts from fonts google */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@900&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

section, article {
    max-width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1100px) {
    section, article {
        max-width: 70%;
    }
}

.alert {
    width: 70%;
}

.alert-secondary {
    margin: 2%;
}

.center-content {
    text-align: center;
}

/* General styles for text */
h1 {
    text-align: center;
    color: #c26c51;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 4%;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 2%;
    text-align: center;
    padding-top: 8%;
}

@media screen and (min-width: 768px) {
    h2 {
        padding-top: 4%;
    }
}

p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 4%;
}

a {
   color: #c26c51; 
}

/* Logo */
#logo {
    width: 60%;
    margin: 4% !important;
    background-color: white;
}

@media screen and (min-width: 576px) {
    #logo {
        width: 50%;
        margin: 2% !important;
    }
}

@media screen and (min-width: 768px) {
    #logo {
        width: 40%;
        margin: 2% !important;
    }
}

@media screen and (min-width: 992px) {
    #logo {
        width: 30%;
        margin: 1% !important;
    }
}

@media screen and (min-width: 1200px) {
    #logo {
        width: 30%;
    }
}

/* Styles for text on booking forms, input, details */
.detail-booking-txt {
    font-family: 'Kanit', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
}

/* Navigation Bar
Hamburger menu for mobile until 700px */
.menu {
    background-color: white;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    background-color: #e8e7e7;
    color: black;
    text-align: center !important;
    text-transform: uppercase;
    padding: 3% 5%;
    text-decoration: none;
    font-size: 1.2rem;
}

.fa-brands {
    font-size: 1.4rem;
}

.menu a:hover {
    background-color: white;
    color: #c26c51;
}

#book {
    background-color: #c26c51;
    color: white;
}

#book a:hover {
    background-color: #e8e7e7;
    color: #c26c51;
}
  
/* Hide the link that should open and close the topnav on small screens */
.menu .icon {
    display: none;
    color: #c26c51;
    font-size: 1.8rem;
    padding: 2%;
    background-color: white;
    margin: 2%;
}

/* When the screen is less than 600 pixels wide, hide all links 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 816px) {
    .menu a:not(:first-child) {display: none;}
    .menu a {display: none;}
    .menu a.icon {
        display: block;
        float: none;
    }

}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon */
@media screen and (max-width: 816px) {
    .menu.responsive {position: relative;}
    .menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
    }
}

@media screen and (min-width: 816px) {
    .menu {
        width: 100%;
        margin: auto;
        padding: 1%;
    }
    .menu a {
        padding: 1% 5%;
    }

}

/* Nav bar if user is connected with connected status */
.connected {
    margin: 2%;
}

.nav-connected {
    max-width: 80%;
    margin: auto;
}

.nav-connected li {
    background-color: #c26c51;
    padding: 1%;
    list-style-type: none;
    color: #e8e7e7;
}

.nav-connected a {
    color: #e8e7e7;
}

.nav-connected a:hover {
    color: black;
}

@media screen and (min-width: 992px) {
    .nav-connected {
        width: 70%;
    }
}

/* Footer */
footer {
    background-color: black;
    max-width: 100%;
    margin: 0;
    padding: 2%;
}

footer p {
    color: white;
    padding: 1% !important;
}

footer a {
    color: white;
}

footer a:hover {
    color: #c26c51;
}

.icon-footer {
    font-size: 2rem;
}

@media screen and (min-width: 1200px) {
    .nav-connected {
        width: 75%;
    }
}

/* Home page */
.welcome-img {
    max-width: 100% !important;
    text-align: center;
}

.picto {
    margin-top: 10%;
    text-align: center;
    width: 40%;
}

/* Buttons */
.btn {
    margin: 2%;
    text-align: center;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn-grey a:hover {
    color: black;
    text-decoration: none;
}

.btn-red a:hover {
    color: black;
    text-decoration: none;
}

.button-booking {
    text-align: center;
}

/* Red button for info */
.btn-detail {
    background-color: #c26c51 !important;
    color: white;
}

.btn-detail a:hover {
    background-color: #c16c52e8 !important;
    color: black;
    text-decoration: none;
}

/* Booking form */
.background-booking {
    background-color: #e8e7e7;
    margin: auto !important;
    width: 70%;
    text-align: center;
    padding: 2%;
}

/* Booking list */
.list-booking {
    background-color: #e8e7e7;
    text-align: center;
    list-style-type: none;
    max-width: 90%;
    margin: auto;
}

@media screen and (min-width: 700px) {
    .list-booking {
        width: 60%;
    }
}

/* Booking detail */
.detail-booking {
    background-color: #e8e7e7;
    max-width: 80%;
    padding: 2%;
    margin: auto;
}

@media screen and (min-width: 700px) {
    .detail-booking {
        max-width: 60%;
    }

}

@media screen and (min-width: 1100px) {
    .detail-booking {
        max-width: 60%;
    }

}

.detail-booking h2 {
    text-align: center;
}

/* Game page */
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
}

button.accordion-button:focus {
    box-shadow: inherit;
    color: #c26c51;
}

.accordion-button {
    font-size: 1.4rem;
}

.map {
    width: 70%;
    height: 500px;
}

.map iframe {
    max-height: 100%;

}

/* Contact Form */
.form-contact {
    padding: 4%;
    width: 70%;
}

.form-contact label {
    padding-top: 6%;
}

.form-contact textarea {
    width: 100%;
}