{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TO BE COMPLETED">
    <meta name="keywords" content="TO BE COMPLETED">
    <meta name="author" content="CÉcile Gaudron">
    <title>TO BE COMPLETED</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <!-- Load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- Header with logo and navigation bar -->
    <header>
        <div id="logo">
            <img class="img-flui img-responsive" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679248476/outscape/logo-outscape_ova2gu.png" alt="OUTscape logo">
        </div>

        <!-- Navigation bar -->
        <!-- Inspiration from DjangoBlog challenge -->
        <nav>
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <a href="{% url 'index' %}">Home</a>
                  </div>
                  <div class="col-sm">
                    <a href="game.html">The Game</a>
                  </div>
                  <div class="col-sm">
                    <a href="{% url 'booking' %}">Book</a>
                  </div>
                  <div class="col-sm">
                    <a href="contact.html">Contact</a>
                  </div>
                  <div class="col-sm">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Reach out in Instagram"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                  <div class="col-sm">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Reach out in Facebook"><i class="fa-brands fa-facebook"></i></a>
                  </div>
                </div>
            </div>
        </nav>
                    <ul>
                        <!-- Info about User authentification -->
                        {% if user.is_authenticated %}
                        <li>
                            Hi <strong>{{ user.username }} </strong> You are connected
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'account_signup' %}">Registrer</a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'booking' %}">MAKE A BOOKING</a></li>
                    <li><a href="{% url 'booking-list' %}">BOOKING LIST</a></li>
                    <li><a href="{% url 'booking-detail' %}">BOOKING DETAILS</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Content block -->
    <section>
        {% block content %}
        <!-- Place for content -->
        {% endblock content %}
    </section>

    <!-- Footer with Copyright and Social Networks Links -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="contact.html">Contact</a>
                </div>
                <div class="col-sm">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Reach out in Instagram"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="col-sm">
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Reach out in Facebook"><i class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="col-sm">
                    <p>© OUTscape - {% now 'Y' %}</p>
                </div>
            </div>
            <div>
                    <p>This is an educational site created as part of <a href="https://codeinstitute.net/" target="_blank" rel="noopener" aria-label="Visit the Code Institude website">Code Institute</a>'s Full Stack Software Development course. Created by CÉcile <a href="https://github.com/cecilegaudron/" target="_blank" rel="noopener" aria-label="Visit my GitHub account>"><i class="fa-brands fa-github"></i></a></p>
            </div>
            </div>
        </div>
    </footer>
    <!-- Font awesome script -->
    <script src="https://kit.fontawesome.com/3ee526735d.js" crossorigin="anonymous"></script>
</body>
</html>