{% extends "base.html" %}
{% block title %}Book the OUTscape game{% endblock %}

{% block content %}
<section>
    <div class="mx-auto">
        <h1>MAKE A BOOKING</h1>
        <p>
            The price of the game is 80€. This amount includes the different puzzles of the game and the price does not vary according to the number of players.<br>
            Make your reservation via the form below. A confirmation email will be sent to you after the payment is done. You can pay by credit card directly on our website. The payment is secured.<br>
            The meeting point is at Alexanderplatz in front of the Primark. store.
        </p>
        <p>
            A trip by metro is necessary for the game. If you don’t have a transit card or single tickets, we can provide them for 3€ each. You can specify this in the reservation form.
        </p>
    </div>
</section>

<section>
        <div class="booking-form list-booking">
        {% if user.is_authenticated %}

        {% if submitted %}
            Your reservation request has been sent. You will get a feedback from the organizers very soon

        {% else %}
        <!-- Block booking form -->
            <div class="form-group">
                <form method="POST" action="{% url 'booking' %}">
                    <!-- Security tocken -->
                    {% csrf_token %}
                    <!-- https://www.geeksforgeeks.org/form-as_p-render-django-forms-as-paragraph/ -->
                    {{ form.as_p }}
                    <div class="center-content">
                        <button type="submit" value="Submit" class="btn btn-dark btn-detail">Book the game</button>
                    </div>
                </form>
            </div>
        <!--{% endif %}-->
        {% else %}
        <p>You need to be connected to your personal account to make a booking.<br>
        Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
        {% endif %}
        </div>
    </div>
</section>
<!-- Some JavaScript lines
The user can only make a booking with his user ID/player name
This is for the plaer name field on the forms.py
https://www.youtube.com/watch?v=TAH01Iy5AuE&list=PLCC34OHNcOtr025c1kHSPrnP18YPB-NFi&index=17 -->
<script>
    var name = "{{ user.id }}";
    document.getElementById("playername").value = name;
</script>
{% endblock %}