{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <h1>YOUR BOOKING</h1>
        <div style="background-color: beige;">
            <h2>You booked the OUTscape game for the {{ booking.bookdate }} at {{booking.timeslot}}</h2>
            <p>Number of players :{{ booking.players }}</p>
            <p>Number of BVG tickets :{{ booking.tickets }}</p>
            <p>Comment :{{ booking.comment }}</p>
            <p>Status : {{ booking.status }}</p>
            <p>Booking_ID : {{ booking.booking_id }}</p>
            <br>
            <h3>Your personal infos :</h3>
            <p>Your name : {{ booking.first_name }}, {{ booking.last_name }}</p>
            <p>Your email : {{ booking.email }}</p>
            <p>Your telephone number : {{ booking.mobile }}</p>
        </div>
    </div>
</section>
        
<!-- <p>You need to be connected to your personal account to see your booking.<br>
            Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p> 


{% if submitted %}
Your booking is awaiting approval

    {% else %}
        {% if user.is_authenticated %} 

        {% endif %} 
{% endif %}
    </div>
</section>
-->
{% endblock %}