{% extends "base.html" %}
{% block title %}OUTscape game bookings List{% endblock %}

{% block content %}
<!-- Block with list of Bookings -->
<section>
    <div>
        <h1>Your booking</h1>
        <p>In this section, you can access to your future bookings to have all the informations for playing the OUTscape game.<br>
            You also have access to your <a href="{% url 'booking-past' %}">PAST BOOKING</a> if you would like to give feedbacks about your game experience.
        </p>
    </div>
    <div>
        <h2>Your future bookings</h2>
        <!-- A For loop to have every input in the database display on the page -->
        {% for booking in booking_list %}
            <!-- Check if the user is authenticated to his personal account --> 
            {% if user.is_authenticated %}
                <!-- Check if the current user has the ID with the player ID --> 
                <!-- If it is the case, the user can see his booking, edit and delete it --> 
                {% if user.id == booking.player_name.id %}
                    <ul>
                        <li style="background-color: beige;">
                            <h2>Your booking is booked for the : {{ booking.bookdate }}</h2>
                                <a href="{% url 'booking-detail' booking.pk %}">See details</a>
                                <a href="{% url 'booking-update' booking.pk %}">[Edit the booking]</a>
                                <a href="{% url 'booking-delete' booking.pk %}">[Cancel the booking]</a>
                            <p>Hour : {{ booking.timeslot }}<br>
                            Comment :{{ booking.comment }}<br>
                            Your player name : {{ booking.player_name }}<br>
                            Your player name ID : {{ booking.player_name.id }}<p>
                        </li>
                    </ul>
                {% endif %}
            {% else %}
                <p class="alert alert-secondary mx-auto">You need to be connected to your personal account to see your booking(s).<br>
                Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}