{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <h1>This is my Bookings List Page</h1>
    </div>

    <!-- Block with list of Bookings -->
    <!-- For loop to have every input in the database display on the page -->

    <div>
        <ul>
        {% for booking in booking_list %}
            <li style="background-color: beige;">
                <h2>Your booking is booked for the : {{ booking.bookdate }}</h2>
                <a href="{% url 'booking-detail' booking.pk %}">See details</a>
                <p>Hour : {{booking.timeslot}}
                Comment :{{ booking.comment }}<br>
                Your username : {{ user }}<br>
                Your player name : {{ booking.player_name }}<p>
            </li>    
        {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}