{% extends "base.html" %}
{% block title %}OUTscape game bookings List{% endblock %}

{% block content %}
<!-- Block with list of Past Bookings -->

<section>
    <div>
        <h1>Your booking</h1>
    </div>
    <div>
        <h2>Your past bookings</h2>
        {% for booking in booking_list %}
        <li style="background-color: beige;">
            <h2>Your booking is booked for the : {{ booking.bookdate }}</h2>
                <a href="{% url 'booking-detail' booking.pk %}">Give feedback</a>
            <p>Hour : {{ booking.timeslot }}<br>
            Comment :{{ booking.comment }}<br>
            Your player name : {{ booking.player_name }}<br>
            Your player name ID : {{ booking.player_name.id }}<p>
        </li>
        {% endfor %}
    </div>
</section>
{% endblock %}