{% extends "base.html" %}
{% block title %}Your OUTscape game booking{% endblock %}

{% block content %}
<section class="mx-auto">
    <div>
        <h1>YOUR BOOKING</h1>
        <div class="detail-booking">
            {% if user.is_authenticated %}
                {% if user.id == booking.player_name.id %}
                    <h2>Your OUTscape game booking is :</h2>
                    <p class="detail-booking-txt">{{ booking.bookdate }}<br>
                        at {{booking.timeslot}}</p>
                    <p>Number of players : <strong>{{ booking.players }}</strong><br>
                        Number of BVG tickets : <strong>{{ booking.tickets }}</strong><br>
                        Comment : <strong>{{ booking.comment }}</strong></p><br>
                    <hr>
                    <p><strong>Your personal infos</strong><br>
                        Your name : <strong>{{ booking.first_name }}, {{ booking.last_name }}</strong><br>
                        Your email : <strong>{{ booking.email }}</strong><br>
                        Your telephone number : <strong>{{ booking.mobile }}</strong></p><br>
                    <div class="button-booking">
                        <a href="{% url 'booking-update' booking.pk %}" class="btn btn-secondary btn-grey" role="button">Edit</a>
                        <a href="{% url 'booking-delete' booking.pk %}" class="btn btn-danger btn-red" role="button">Cancel</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}