{% extends "base.html" %}
{% block title %}Book the OUTscape game{% endblock %}

{% block content %}
<section>
    <div class="mx-auto">
        <h1>MAKE A BOOKING</h1>
        <div class="booking-form">
        {% if user.is_authenticated %}

        {% if submitted %}
            Your reservation request has been sent. You will get a feedback from the organizers very soon

        {% else %}
        <!-- Block booking form -->
            <div class="form-group">
                <form method="POST" action="{% url 'booking' %}">
                    <!-- Security tocken -->
                    {% csrf_token %}
                    <!-- https://www.geeksforgeeks.org/form-as_p-render-django-forms-as-paragraph/ -->
                    {{ form.as_p }}
                    <button type="submit" value="Submit" class="btn btn-dark">Book the game</button>
                </form>
            </div>
        <!--{% endif %}-->
        {% else %}
        <p>You need to be connected to your personal account to make a booking.<br>
        Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}