{% extends "base.html" %}
{% block title %}OUTscape game bookings List{% endblock %}

{% block content %}
<!-- Block with list of Bookings -->
<section class="mx-auto">
    <div>
        <h1>Your booking</h1>
        <p>In this section, you can access to your future bookings to have all the informations for playing the OUTscape game.<br>
            If you have any bookings yet, <a href="{% url 'booking' %}">make your reservation</a> for the game !
        </p>
    </div>
    <div>
        <!-- Check if the user is authenticated to his personal account --> 
        {% if user.is_authenticated %}
            <!-- A For loop to have every input in the database display on the page -->
            {% for booking in booking_list %}
                <!-- Check if the current user has the ID with the player ID 
                If it is the case, the user can see his booking, edit and delete it --> 
                {% if user.id == booking.player_name.id %}
                    <ul>
                        <li class="list-booking">
                            <h2>You booked for the : </h2>
                            <p class="detail-booking-txt">{{ booking.bookdate }}</p>
                            <p>Hour : {{ booking.timeslot }}<br>
                                Comment : {{ booking.comment }}<br>
                            <a href="{% url 'booking-detail' booking.pk %}" class="btn btn-dark btn-detail" role="button">See details</a>
                        </li>
                    </ul>
                    {% else %}
                    <p class="alert alert-secondary mx-auto">You have 0 confirmed booking.<br>
                        If you have already made a booking request, it must be validated by the organizers. This may take a few hours.
                    </p>
                {% endif %}
            {% endfor %}
            {% else %}
                <p class="alert alert-secondary mx-auto">You need to be connected to your personal account to see your booking(s).<br>
                Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
        {% endif %}
    </div>
</section>
{% endblock %}