{% extends "base.html" %}
{% block title %}Delete your OUTscape game booking{% endblock %}

{% block content %}
<section>
    <div class="mx-auto">
        <h1>Delete your booking</h1>
        {% if user.is_authenticated %}
            {% if user.id == booking.player_name.id %}
                <div class="background-booking">
                    <h2>Your booking is :</h2>
                    <p class="detail-booking-txt">{{ booking.bookdate }}<br>
                        at {{booking.timeslot}}</p>
                    <!-- Block booking form -->
                    <div class="form-group">
                        <form method="POST">
                            <!-- Security tocken -->
                            {% csrf_token %}
                            <p>Are you sure you want to delete your booking?</p>
                            <button type="submit" value="Submit" class="btn btn-danger btn-red">YES I delete</button>
                            <br>
                            <button type="submit" value="Submit" class="btn btn-secondary btn-grey">Back</button>
                        </form>
                    </div>
                </div>
            {% else %}        
                <p class="alert alert-danger">You have not the right to do this. This is a technical problem.</p>
            {% endif %}
        {% else %}
            <p class="alert alert-secondary mx-auto">You need to be connected to your personal account to delete your booking(s).<br>
            Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a>.</p>
        {% endif %}
    </div>
</section>
{% endblock %}