{% extends "base.html" %}
{% block title %}OUTscape game in Berlin{% endblock %}

{% block content %}
<section class="mx-auto">
    <div>
        <h1>Contact Us</h1>
        <p>
            If you have any questions, doubts, points to clarify about our OUTscape Game, or a particular or personalized request, we are at your disposal.<br><br>
        </p>
    </div>
    <div class="detail-booking center-content">
        <ul>
            <li>
                <p class="contact-txt">
                    <i class="fa-solid fa-phone"></i><br>
                    01573 15487589
                </p>
            </li>
            <br>
            <li>
                <p class="contact-txt">
                    <i class="fa-regular fa-envelope"></i><br>
                    emailme.kfpey@simplelogin.com
                </p>
            </li>
        </ul>
    </div>
    <div>
        <p>
            If you would like to participate in our OUTscape Game, please use the <a href="{% url 'booking' %}">booking module</a>.
        </p>
    </div>
</section>

{% endblock %}