{% extends "base.html" %}
{% block title %}OUTscape game in Berlin{% endblock %}

{% block content %}

<!-- Title section -->
<section class="welcome mx-auto">
    <div class="welcome-img">
        <h1>The game</h1>
        <h2>OUTscape game, what is it ? How to play ? </h2>
        <img class="img-fluid" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679677962/outscape/gendarmenmarkt_u6war0.jpg" alt="Gendarmenmarkt Berlin">
    </div>
</section>

<!-- First part section -->
<article>
    <div>
        <p>
            Whether you are with family, friends, partners or colleagues, our OUTscape game is for Berliners and visitors alike. Take advantage of this investigation to glean clues in Berlin-Mitte.<br>
        </p>
    </div>
    <div class="center-content">
      <button class="btn btn-dark btn-detail"><a href="{% url 'booking' %}">Book the game</a></button>
  </div>
</article>
<!-- Second part section -->
<section>
    <div>
      <h2>Practical Info</h2>
        <p>Start the game at Alexanderplatz where one of our investigators will give you the necessary equipment to solve the investigation.</p>
    </div>
    <div id="map" class="center-content">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1077.2380123737742!2d13.412010439501266!3d52.522274713496685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e1f0369dfd1%3A0x883bc6cc75e9cf0f!2sAlexanderpl.%208%2C%2010178%20Berlin!5e0!3m2!1sfr!2sde!4v1679735513839!5m2!1sfr!2sde" allowfullscreen></iframe>
    </div>
</section>
<!-- Third section with FAQ and accordion with Boostrap 
https://getbootstrap.com/docs/5.0/components/accordion/ -->
<article>
    <h2>
        Frequently Asked Questions
    </h2>
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How long does the game last? 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                You are not timed for the duration of the game, but there is a 3-hour time limit for your return to Alexanderplatz.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How many players can participate?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>The game can be played alone, in pairs or in groups.</strong> There is no minimum or maximum number of players. However, for a better game experience, we recommend a group of 6 players maximum. You can't book for more than 10 people.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Will other people be on my team?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                No, we guarantee that no one outside of your team will be on your team.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can a child play?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, but it is preferable that the child be over 7 years old to understand and participate in the riddles. Remember that the game requires walking. If the reservation is made for a group of children, an adult must absolutely be present.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Can a person with limited mobility play?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>A person with reduced mobility can play.</strong> The various game sites, located on public roads, are accessible to wheelchairs. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Do we need to bring equipment?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                All the material necessary to solve the riddles is provided by us. However, we advise you to <strong>bring walking shoes or sneakers and rain gear</strong>.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Is the game maintained in case of rain?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Yes, the game is maintained even in rainy weather.</strong> However, if the Berlin weather forecast calls for an orange or red alert for any reason (storm, thunderstorm, wind), the game session will be cancelled and rescheduled at your convenience, at no additional cost.
              </div>
            </div>
          </div> 
          </div>
      </div>
</article>

{% endblock %}