{% extends "base.html" %}
{% block title %}OUTscape game in Berlin{% endblock %}

{% block content %}

<!-- Title section -->
<section class="welcome mx-auto">
    <div class="welcome-img">
        <h1>Welcome to the OUTscape Berlin</h1>
        <h2>The Great escape through the city</h2>
        <img class="img-fluid" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679310565/outscape/pexels-pixabay-berlin_xwddgj.jpg" alt="Fernsehturm Berlin">
    </div>
</section>

<!-- First part section -->
<article>
    <div>
        <p>
            Whether you are with family, friends, partners or colleagues, our OUTscape game is for Berliners and visitors alike. Take advantage of this investigation to glean clues in Berlin-Mitte.<br>
            Start the game at Alexanderplatz where one of our investigators will give you the necessary equipment to solve the investigation.
        </p>
    </div>
</article>







{% endblock %}