{% extends "base.html" %}

{% block content %}

<div>
    <h1>This is my Home Page</h1>
</div>
    <!-- Add these info in the correct document when it is working properly -->
    <section>
        <div>
            <form method="POST" action="">   
                <!-- Security tocken -->
                {% csrf_token %}
                
                {{ form.as_p }}

                <button type="submit" value="Submit">Request a Booking</button>
            </form>
        </div>
    </section>
    <section>
        <div style="background-color: beige;">
            {% for booking in booking_list %}
            <div>
                    <h2>Your booking is booked for the : {{ booking.bookdate }}</h2>
                    <p>Hour : {{booking.timeslot}}</p>
                    <p>Number of players :{{ booking.players }}</p>
                    <p>Number of BVG tickets :{{ booking.tickets }}</p>
                    <p>Comment :{{ booking.comment }}</p>
                    <p>Status : {{ booking.status }}</p>
                    <br>
                    <h3>Your personal infos :</h3>
                    <p>Your name : {{ booking.first_name }}, {{ booking.last_name }}</p>
                    <p>Your email : {{ booking.email }}</p>
                    <p>Your telephone number : {{ booking.mobile }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}