{% extends "base.html" %}
{% block title %}OUTscape game in Berlin{% endblock %}

{% block content %}

<!-- Title section -->
<section class="mx-auto">
    <div class="welcome-img">
        <h1>Welcome <br>
            to the OUTscape Berlin</h1>
        <h2>The Great escape through the city</h2>
        <img class="img-fluid" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679310565/outscape/pexels-pixabay-berlin_xwddgj.jpg" alt="Fernsehturm Berlin">
    </div>
</section>

<!-- First part section -->
<article class="mx-auto">
    <div>
        <p>
            OUTscape Game is at the crossroads of a treasure hunt and an escape game.<br>
            In groups or solo, solve the investigation and find the stolen bust of Nefertiti. Scattered around Berlin-Mitte, the clues are found in the open air, at the foot of the most beautiful buildings of the German capital.
        </p>
    </div>
    <!-- Pictos -->
    <div class="container-fluid center-content">
        <div class="row">
            <div class="col-sm col-lg-4 picto-index">
                <img class="img-fluid picto" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679841946/outscape/picto-map_kzsikv.png" alt="Black round with city map">
                <h2>A GAME IN THE CITY</h2>        
            </div>
            <div class="col-sm col-lg-4 picto-index">
                <img class="img-fluid picto" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679841906/outscape/picto-directions_v3mqht.png" alt="Black round with different destinations">
                <h2>1 GAME - 2 CASES</h2>
            </div>
            <div class="col-sm col-lg-4 picto-index">
                <img class="img-fluid picto" src="https://res.cloudinary.com/di8utbjhc/image/upload/v1679841906/outscape/picto-bubbles_cv6ojl.png" alt="Black round with dialogue bubbles">
                <h2>1-6 PLAYERS</h2>
            </div>
        </div>
    </div>
    <div class="center-content">
        <button class="btn btn-dark btn-detail">
            <a href="{% url 'booking' %}">Book the game</a>
        </button>
    </div>
</article>

<!-- Second part section -->
<section class="mx-auto">
    <div>
        <p>
            <strong>Berlin Alexanderplatz, around 4 a.m.</strong><br><br>
            A pensive figure is leaning against the bar.<br><br>
            <em>“In the Crime stream, we were all on the ropes”.</em> How was it possible these days to snatch the bust of Nefertiti from the heavily guarded Neues Museum ? <em>“It was eating away at my brain. And that bag that was found on the spot ? Inside, there was no logical or apparent connection between the objects it contained. But where the hell do I start? “.</em><br><br>
            The Chief inspector emptied the bottom of his Pils, crushed his cigarette. In spite of his fatigue, he would not sleep all night. He needed help, he knew it. A fresh look at the Nefertiti case.
        </p>
        <p>
            Help with an investigation in the heart of Berlin-Mitte. From Alexanderplatz to the hiding place of the Nefertiti bust, listen to the city, observe it and make it talk. Only Berlin and your instincts will allow you to help the police and advance through the city at all costs to find the stolen bust of Nefertiti.
        </p>
        <h2>Ready to take up the challenge ?</h2>
    </div>
    <div class="center-content">
        <button class="btn btn-dark btn-detail">
            <a href="{% url 'booking' %}">Book the game</a>
        </button>
    </div>
</section>

{% endblock %}